################# what is this file?  ############################
#                                                                #
#  This file to be symlinked as .envrc and loaded with direnv    #
#  ..if you're not already using it well now is the time         #
#                                                                #
#  Why is this named "Envfile"? ..visibility                     #
#                                                                #
#                see:  http://direnv.net                         #
#                                                                #
##################################################################


################# Generic settings ###############################
#                                                                #
#  Things you shouldn't need to ever change (hopefully)          #
#                                                                #
#                                                                #
#   git tracked scripts/binaries in here                         #
#  (this only needs to be done once)                             #
PATH_add bin                                                     #
#                                                                #
#   third party/downloaded binaries etc will get in here         #
# ("make deps" will download and install them)                   #
PATH_add bin/vendor/bin                                          #
#                                                                #
#                                                                #
#   scripts will check this var exists to know you have direnv   #
#  ("./bin/download_binary direnv" will DL it if you're lazy)    #
export DIRENV_LOADED=True                                        #
#                                                                #
#   Python VirtualEnv "stuff"                                    #
#  "make deps" will install what we need in there                #
# eg: awscli/ansible                                             #
PATH_add .venv/bin                                               #
export VIRTUAL_ENV=Western-ostrich                                         #
#                                                                #
#   Hashicorp logging                                            #
#  (handy)                                                       #
#                                                                #
#   Stop python's "stdout/err" being "too cool for school"       #
export PYTHONUNBUFFERED=1                                        #
#                                                                #
##################################################################

################# Project Specifics ##############################
#                                                                #
#   If you're making your own project then change these          #
##################################################################

export HEROKU_POSTGRESQL_PINK_URL="postgresql://west_o:pxxg@localhost:5432/western_ostrich"

export ROOTDIR="$(pwd)"

