.body-container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5%;
    font-size: 24px;
}

    .user-info {
        position: relative;
        width: 40%;
        height: 50%;
    }

        .image-container {
            display: inline-block;
            position: relative;
            width: 65%;
            margin: 0 2 2 2;
            border-style: solid;
            border-width: medium;
        }

        .image-container img {
            width: 100%;
        }

        .profile {
            display: inline-block;
            position: absolute;
            padding: 1rem;
            list-style: none; 
        }

    .user-watch-lists {
        width: 100%;
        height: 50%;
    }

        .watched {
            display: inline-block;
        
        }

        .to-watch {
            display: inline-block;
        }

        .list {
            border-style: solid;
            border-width: medium;
            width: 50rem;
            min-height: 40rem;
        }

            .list .list-header {
                padding: 1rem;
                position: relative;
                border-bottom: solid medium;
            }

                .list-header h1 {
                    margin: 0;
                }

            .list .list-body {
                padding: 1rem;
                height: 30rem;
                overflow-y: scroll;
                overflow-x: hidden;
            }

                .list-body li { 
                    padding: 0;
                    word-wrap: break-word;
                    border-bottom: solid thin;
                }
            .list .list-footer {
                padding: 1rem;
                position: relative;
                border-top: solid thin;
            }
                .list-footer input {
                    left: 30rem;
                }
