<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/" /> -->
</head>

<body>
<% include ../partials/nav.ejs %>
<div class="body-container">
    <section class="error">
        <div class="error-header">
        <h1>ERROR 404<h1>
        </div>
        <div class="error-message">
        <P>Unfortunately we could not find what you were looking for<P>
        </div>
    </section>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.js"
		integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
		crossorigin="anonymous"></script>
</body>
</html>
