<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/account.css" />
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
    <div class="title-container">
        <h1>Your Account</h1>
    </div>
</div>
<div class="body-container">
    <section>
        <header>
            <h2>Edit Account Details</h2>
        </header>
        <h3>Username</h3>
        <input type="text" />
        <h3>Password</h3>
        <input type="password" />
        <h3>Confirm Password</h3>
        <input type="password" />
        <button type="submit">Save</button>
    </section>
</div>
</body>
</html>
