<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Western Ostrich</h1>
    <p>Keep your head out of the ground.</p>
  </div>
</div>
</body>
</html>
