<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css" />
</head>

<body>
<% include ../partials/nav.ejs %>
<div class="body-container">
    <section class="section-container">
        <div class="image-container">
            <img src="/images/ostrich-profile.jpg" />
        </div>
        <ul class="profile">
            <li>
                <span>Mushu</span>
            </li>
        </ul>
    </section>
    <section class="watched">
        <div class="list-header">
        <h1> Watched </h1>
        </div>
        <ul class="watched-list">
            <li>The emoji Movie</li>
            <li>Daddy's Home 2</li>
            <li>Padding 2</li>
            <li>Mulan</li>
            <li>King Kong</li>
            <li>Transformers</li>
            <li>Game of Thrones</li>
            <li>Star Trek</li>
            <li>Star Wars</li>
            <li>Home Alone</li>
            <li>Murder on the Orient Express</li>
            <li>Blade Runner</li>
            <li>Lord of the Rings</li>
            <li>Really fucking long title to test the word wrap is doing it's job</li>
        </ul>
    </section>
</div>
</body>
</html>
