<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css" />
</head>

<body>
<% include ../partials/nav.ejs %>
<div class="body-container">
    <section class="section-container profile">
        <header class="section-header">
            <h2>Profile</h2>
        </header>
        <article class="image-container profile-image">
            <Picture id="profile-picture" name="Profile Picture">
        </article>
        <article class="title-box">
            <h4>Name</h4>
            <input id="profile-name" type="text" value="" placeholder="What's your name?">
        </article>
        <article class="title-box">
            <h4>Top Film</h4>
            <input id="profile-film" type="text" value="" placeholder="What's your favourite film?">
        </article>
        <article class="title-box">
            <h4>Top TV Show</h4>
            <input id="profile-tv-show"type="text" value="" placeholder="What's your favourite tv show?">
        </article>
        <article class="upload-image">
            <input type="file" />
        </article>
        <article class="description-box">
            <h4>Bio</h4>
            <textarea id="profile-bio" type="text" value="" placeholder="Write something about yourself!"></textarea>
        </article>
    </section>
    <section class="section-container showcase">
        <header class="section-header">
            <h2>Showcase</h2>
        </header>
        <article class="image-container showcase-image">
            <picture id="showcase-image" type="file" name="showcase Picture">
        </article>
        <article class="title-box showcase-title">
            <h4>Showcase title</h4>
        </article>
        <article class="description-box showcase-description-box">
            <p id="showcase-description">This is my bio</p>
        </article>
    </section>
</div>
</body>
</html>
