<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css" />
</head>

<body>
<% include ../partials/nav.ejs %>
<div class="body-container">
    <section class="section-container">
        <div class="image-container">
            <img src="/images/ostrich-profile.jpg" />
        </div>
        <ul class="profile-table">
            <li>
                <span>Mushu</span>
            </li>
        </ul>
    </section>
</div>
</body>
</html>
