<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css" />
</head>

<body>
<% include ../partials/nav.ejs %>
<div class="body-container">
    <section class="section-container">
        <article class="image-container">
            <img src="/images/ostrich-profile.jpg" />
        </article>
        <section>
            <ul class="profile-table">
                <li>
                    <label>Name</label>
                    <span>Khanh</span>
                </li>
            </ul>
        </section>
    </section>
</div>
</body>
</html>
